
</head>
<body>
    <div style="text-align: center;">
        <!-- יישום ייעודי ל-css -->
        <!-- הוספת תג פריט כדי להציג את השעה המקומית -->
        <p id="datetime"></p>
    </div>

 <script src="js/dateTime.js"></script>
