    <nav>
        <a href="/">Home</a>
        <a href="/admin">Administrators</a>
        <a href="/text">GeminiAI</a>
        <a href="/url">ShortURL</a>
        <a href="/contact">Contact</a>
        <span class="username">{{username}}</span>
        <span id="logoutButton" ><a href="/logout">Logout</a></span>
        
    </nav>