  <nav>
    <div class="nav-left">
        <a href="/">Home</a>
        <a href="/text">GeminiAI</a>
        <a href="/url">ShortURL</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="nav-right">
        <span class="username">{{username}}</span>
        <a href="login/logout">Logout</a>
        
    </div>
</nav>
