<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startup Company Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles_main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/styles_register.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles_home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/styles_login.css"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to Our Startup</h1>
      <p>We are here to revolutionize the industry!</p>
    </header>
    <nav>
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Features</a>
      <a href="#">Contact</a>
    </nav>

    {{{body}}}

    <footer>
      <p>&copy; 2024 Netanel Azar. All rights reserved.</p>
    </footer>

  </body>
</html>