<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Company Landing Page</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles_main.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles_register.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles_home.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles_login.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
   
    <header>
        <h1>{{username}}</h1>
      <h1> Welcome  to </h1>
          <h1> <a><i class="fa fa-sun-o"></i> AZAR <i class="fa fa-sun-o"> </i></a></h1>  
        <p>We are here to revolutionize the industry!</p>
    </header>
       
       {{>navbar}}
    
    {{{body}}}
    
    {{> footer}}

  
</body>
</html>
