 <section id="home-card">
    <p>ברוכים הבאים.</p>
    <p>לשימוש במערכת להרשמה או להתחברות.</p>
    <button id="leftbtn" onclick="window.location.href='/register'">הירשם כאן</button>
    <button id="right" onclick="window.location.href='/login'"> התחברות </button>
  </section>


