<h1>My AI</h1>
<div id="homeAI">
  <section id="home-card">
    <p>ברוכים הבאים לאתרנו.</p>
    <p>לשימוש במערכת להרשמה או להתחברות.</p>
    <button onclick="window.location.href='/register'">הירשם כאן</button>
    <button onclick="window.location.href='/login'"> התחברות </button>
  </section>
</div>