
    <section class="hero">
      
      <h1>הביאו את הרעיונות שלכם לחיים</h1>
      <p>Gemini AI היא פלטפורמת בינה מלאכותית עוצמתית שמאפשרת לכם ליצור, ללמוד ולפתור בעיות בצורה חדשה.</p>
      </section>
    <section class="features">
      <h2>תכונות עיקריות</h2>
      <ul><ul class="features-cards">
        <li class="cardAI">
          <i class="fa fa-pencil"></i>
          <h3>יצירת תוכן טקסטואלי</h3>
          <p>כתוב מאמרים, פוסטים ברשתות חברתיות, סיפורים ועוד.</p>
        </li>
        <li class="cardAI">
          <i class="fa fa-language"></i>
          <h3>עיבוד שפה טבעית</h3>
          <p>תרגם שפות, הבן טקסט ותקשר בצורה טבעית עם מכונות.</p>
        </li>
        <li class="cardAI">
          <i class="fa fa-code"></i>
          <h3>יצירת קוד</h3>
          <p>כתוב תוכניות מחשב, אתרים ואפליקציות בקלות.</p>
        </li>
        <li class="cardAI">
          <i class="fa fa-question-circle"></i>
          <h3>שאלות ותשובות</h3>
          <p>קבל תשובות לשאלותיך מכל תחום imaginable.</p>
        </li>
        <li class="cardAI">
          <i class="fa fa-ellipsis-h"></i>
          <h3>ועוד...</h3>
          <p>Gemini AI נותנת לך גישה למגוון רחב של כלים מבוססי בינה מלאכותית.</p>
        </li>
      </ul>
    
    </section>





<div id="homeAI">
  <section id="home-card">
    <p>ברוכים הבאים.</p>
    <p>לשימוש במערכת להרשמה או להתחברות.</p>
    <button onclick="window.location.href='/register'">הירשם כאן</button>
    <button onclick="window.location.href='/login'"> התחברות </button>
  </section>
</div>

