<h2>הרשמה</h2>
<div class="container">
  <form action="submit_registration.php" method="post">
    <div>
      <label for="fullName">שם מלא:</label>
      <input type="text" id="fullName" name="fullName" required />
    </div>
    <div>
      <label for="email">דוא"ל:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">סיסמה:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <label for="phone">טלפון:</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        pattern="[0-9]{3}-[0-9]{7}"
        required
      />
      <small>הכנס מספר טלפון בפורמט: XXX-XXXXXXX</small>
    </div>
    <button type="submit">הרשם</button>
  </form>
</div>