
<div id="register">
  <h2 id="reg">הרשמה</h2>
  <form action="/register" method="post" enctype="multipart/form-data">
    <div>
      <label for="fullName">שם מלא:</label>
      <input type="text" id="fullName" name="fullName" required />
    </div>
    <div>
      <label for="email">דוא"ל:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">סיסמה:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <label for="phone">פלאפון:</label>
      <input
        type="tel"
        id="phone"
        name="phone"
       
        required
      />
      <small>הכנס מספר טלפון בפורמט: XXX-XXXXXXX</small>
    </div>
    <div>
       <label for="picture">תמונת פרופיל:</label>
      <input type="file" id="picture" name="picture">
    </div>
    <button type="submit" id="regButton">הרשם</button>
  </form>
</div>