            <div class="content">
          
               
                 







            <div class="content-2">
                <div class="recent-payments">

 
                    <table>

                    {{#each text}}
                        <tr>
                            
                            <th>user Email</th>
                            <th>User</th>
                            <th>Gemini</th>
                            
                        </tr>
                        
                        <tr>
                            <td>{{this.userEmail}}</td>
                            <td>{{this.prompt}}</td>
                            <td>{{this.answer}}</td>
                        </tr>
                        {{/each}}

                        </table>


                </div>
            </div>
            </div>