<h1>My AI</h1>
<div class="container">
  {{#each text}}
    <section class="card">
      <div class="card-header">
        <h2>You : {{this.prompt}}</h2>
      </div>
      <div class="card-body">
        <p class="answer"><h2>Answer :</h2> {{this.answer}}</p>
      </div>
    </section>
  {{/each}}
</div>
<div class="container">
  <div class="card-input">
    <input
      type="text"
      id="userGenerate"
      placeholder="Enter your message to Gemini"
    />
    <button type="button" class="card-button" id="btnGenerateText">Send</button>
  </div>
</div>

<script>

 document.getElementById('btnGenerateText').addEventListener("click", (event)=> {
  let Prompt = document.getElementById('userGenerate').value;
  console.log(Prompt);

  fetch('/text', {
    method: 'POST',
    body: JSON.stringify({ Prompt }),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(res=> res.json()).then((data)=> {
    alert(data.text);
  });
});


</script>