
{{#each users}}
 
                    <table>

                    
                        <tr>
                            <th>Name</th>
                            <th>School</th>
                            <th>Amount</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>{{this.fullName}}</td>
                            <td>{{this.email}}e</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        </table>
{{/each}}


