
            <div class="content">
          
               
                 







            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Users</h2>
                    </div>


{{#each users}}
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Option</th>
    </tr>
    <tr>
      <td>{{this.fullName}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td><button onclick="deleteUser('{{this._id}}')">Delete</button></td>
    </tr>
  </table>
{{/each}}


<a href="/add_admin" class="btn">Add New User</a>

                </div>
            </div>
                 
            </div>
            