
<div id="welcome-card">
    <p>{{username}}</p>
    <!-- הפעם נשתמש בתגית img ישירות עם כתובת ה-URL של התמונה -->
    <img src="{{profileImage}}" alt="Profile Image">
    <p>Welcome</p>
    <p>you have successfully logged in!</p>
    <p>ברוך הבא, התחברת בהצלחה!</p>
</div>
