* {
    margin: 0; /* איפוס שוליים */
    padding: 0; /* איפוס רווחים */
    box-sizing: border-box; /* קביעת תיבת המידה לפי המרכז של הגבול */
    font-family: 'Poppins', sans-serif; /* קביעת הגופן */
}

body {
    min-height: 100vh; /* הגבול לגובה של הדף */
}

a {
    text-decoration: none; /* הסרת קווים מתחת לקישורים */
}

li {
    list-style: none; /* הסרת נקודות מורידות */
}

h1,
h2 {
    color: #444; /* צבע הכותרות */
}

h3 {
    color: #999; /* צבע הכותרות */
}

.btn {
    background: #f05462; /* רקע כפתור */
    color: white; /* צבע טקסט בכפתור */
    padding: 5px 10px; /* ריווחים בתוך הכפתור */
    text-align: center; /* מרכוז הטקסט בכפתור */
}

.btn:hover {
    color: #f05462; /* צבע הטקסט בעכבר מעל הכפתור */
    background: white; /* רקע הכפתור בעכבר מעל הכפתור */
    padding: 3px 8px; /* ריווחים בתוך הכפתור */
    border: 2px solid #f05462; /* גבולות בעכבר מעל הכפתור */
}

.title {
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
    justify-content: space-around; /* יישור אנכי של הפריטים */
    padding: 15px 10px; /* ריווחים בתוך האלמנט */
    border-bottom: 2px solid #999; /* קו תחתון */
}

table {
    border-collapse: collapse; /* מאפשר לגבולות להתמזג */
    width: 100%; /* רוחב הטבלה */
}

th, td {
    border: 1px solid #ddd; /* הוספת גבול לתאים */
    padding: 8px; /* ריווחים בתוך התאים */
    text-align: left; /* יישור הטקסט לשמאל */
}

th {
    background-color: #f2f2f2; /* רקע צבע אפור לכותרות העמודות */
    color: black; /* צבע הטקסט בכותרות העמודות */
}


td.name,
td.email,
td.phone,
td.admin,
td.option {
    width: 20%; /* קיבוע רוחב לכל תא */
    white-space: nowrap; /* אפשרות להציג את כל התוכן בשורה אחת */
    overflow: hidden; /* מניעת המראה של תוכן מיותר מחוץ לתא */
    text-overflow: ellipsis; /* הצגת נקודות ניתוח (...) עבור תוכן שחורג ממסגרת התא */
}

td.option button {
    background-color: #f05462; /* צביעת רקע כפתור */
    color: white; /* צביעת טקסט כפתור */
    border: none; /* הסרת גבולות */
    padding: 5px 10px; /* ריווחים בפנים לכפתור */
    cursor: pointer; /* הפיכת הסמן לכפתור */
}

td.option button:hover {
    background-color: white; /* צביעת רקע כפתור בעת העכבר מעליו */
    color: #f05462; /* צביעת טקסט כפתור בעת העכבר מעליו */
}

.side-menu {
    position: fixed; /* קביעת המיקום לקבוע */
    background: #f05462; /* צבע רקע של התפריט הצדדי */
    width: 20vw; /* רוחב התפריט הצדדי */
    min-height: 100vh; /* גובה מינימלי של התפריט הצדדי */
    display: flex; /* תצוגה כתיב גמישה */
    flex-direction: column; /* כיוון ההצגה */
}

.side-menu .brand-name {
    height: 10vh; /* גובה של מרכיב */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
    justify-content: center; /* יישור אנכי של הפריטים */
}

.side-menu li {
    font-size: 24px; /* גודל הגופן */
    padding: 10px 40px; /* ריווחים מסביב לתוכן */
    color: white; /* צבע הטקסט */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
}

.side-menu li:hover {
    background: #f05462; /* צבע רקע בעבר העכבר */
    color: #f05462; /* צבע הטקסט בעבר העכבר */
}

.container {
    position: absolute; /* קביעת המיקום לקבוע */
    right: 0; /* הצמדת האלמנט לימין */
    width: 80vw; /* רוחב האלמנט */
    height: 100vh; /* גובה האלמנט */
    background: #f1f1f1; /* צבע רקע */
}

.container .header {
    position: fixed; /* קביעת המיקום לקבוע */
    top: 0; /* הצמדת האלמנט לראש */
    right: 0; /* הצמדת האלמנט לימין */
    width: 80vw; /* רוחב האלמנט */
    height: 10vh; /* גובה האלמנט */
    background: white; /* צבע רקע */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אנכי של הפריטים במרכז */
    justify-content: center; /* יישור אנכי של הפריטים */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* הוספת צל לאלמנט */
    z-index: 1; /* קביעת רמת שקיפות */
}

.container .header .nav {
    width: 90%; /* רוחב האלמנט */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אנכי של הפריטים במרכז */
}

.container .header .nav .search {
    flex: 3; /* קיבוע אורך האלמנט */
    display: flex; /* תצוגה כתיב גמישה */
    justify-content: center; /* יישור אנכי של הפריטים */
}

.container .header .nav .search input[type=text] {
    border: none; /* הסרת גבולות */
    background: #f1f1f1; /* צבע רקע */
    padding: 10px; /* ריווחים בתוך התיבה */
    width: 50%; /* רוחב התיבה */
}

.container .header .nav .search button {
    width: 40px; /* רוחב הכפתור */
    height: 40px; /* גובה הכפתור */
    border: none; /* הסרת גבולות */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
    justify-content: center; /* יישור אנכי של הפריטים */
}

.container .header .nav .search button img {
    width: 30px; /* רוחב התמונה */
    height: 30px; /* גובה התמונה */
}

.container .header .nav .user {
    flex: 1; /* קיבוע אורך האלמנט */
    display: flex; /* תצוגה כתיב גמישה */
    justify-content: space-between; /* הפרדה שווה בין הפריטים */
    align-items: center; /* יישור אנכי של הפריטים במרכז */
}

.container .header .nav .user img {
    width: 40px; /* רוחב התמונה */
    height: 40px; /* גובה התמונה */
}

.container .header .nav .user .img-case {
    position: relative; /* קביעת המיקום ליחסי */
    width: 50px; /* רוחב התמונה */
    height: 50px; /* גובה התמונה */
}

.container .header .nav .user .img-case img {
    position: absolute; /* קביעת המיקום לקבוע */
    top: 0; /* הצמדת האלמנט לראש */
    left: 0; /* הצמדת האלמנט לשמאל */
    width: 100%; /* רוחב התמונה */
    height: 100%; /* גובה התמונה */
}

.container .content {
    position: relative; /* קביעת המיקום ליחסי */
    margin-top: 10vh; /* הזזת האלמנט למעלה */
    min-height: 90vh; /* גובה מינימלי של התוכן */
    background: #f1f1f1; /* צבע רקע */
}

.container .content .cards {
    padding: 20px 15px; /* ריווחים בתוך הכרטיס */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
    justify-content: space-between; /* הפרדה שווה בין הפריטים */
    flex-wrap: wrap; /* פריסת הפריטים כשרשרת */
}

.container .content .cards .card {
    width: 250px; /* רוחב הכרטיס */
    height: 150px; /* גובה הכרטיס */
    background: white; /* צבע רקע */
    margin: 20px 10px; /* ריווחים מסביב לכרטיס */
    display: flex; /* תצוגה כתיב גמישה */
    align-items: center; /* יישור אופקי של הפריטים במרכז */
    justify-content: space-around; /* הפרדה שווה בין הפריטים */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* הוספת צל לכרטיס */
}

.container .content .content-2 {
    min-height: 60vh; /* גובה מינימלי של התוכן */
    display: flex; /* תצוגה כתיב גמישה */
    justify-content: space-around; /* הפרדה שווה בין הפריטים */
    align-items: flex-start; /* יישור אנכי של הפריטים במרכז */
    flex-wrap: wrap; /* פריסת הפריטים כשרשרת */
}

.container .content .content-2 .recent-payments {
    min-height: 50vh; /* גובה מינימלי של התוכן */
    flex: 5; /* קיבוע אורך האלמנט */
    background: white; /* צבע רקע */
    margin: 0 25px 25px 25px; /* ריווחים מסביב לתוכן */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* הוספת צל לתוכן */
    display: flex; /* תצוגה כתיב גמישה */
    flex-direction: column; /* כיוון ההצגה */
}

.container .content .content-2 .new-students {
    flex: 2; /* קיבוע אורך האלמנט */
    background: white; /* צבע רקע */
    min-height: 50vh; /* גובה מינימלי של התוכן */
    margin: 0 25px; /* ריווחים מסביב לתוכן */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* הוספת צל לתוכן */
    display: flex; /* תצוגה כתיב גמישה */
    flex-direction: column; /* כיוון ההצגה */
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px; /* גובה התמונה */
    width: 40px; /* רוחב התמונה */
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px; /* גודל הגופן */
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none; /* הסתרת הטקסט */
    }
    .side-menu {
        align-items: center; /* יישור אנכי של הפריטים במרכז */
    }
    .side-menu li img {
        width: 40px; /* רוחב התמונה */
        height: 40px; /* גובה התמונה */
    }
    .side-menu li:hover {
        background: #f05462; /* צבע רקע בעבר העכבר */
        padding: 8px 38px; /* ריווחים מסביב לתוכן */
        border: 2px solid white; /* הוספת גבול */
    }
}

@media screen and (max-width: 536px) {
    .brand-name h1 {
        font-size: 16px; /* גודל הטקסט */
    }
    .container .content .cards {
        justify-content: center; /* יישור אנכי של הפריטים במרכז */
    }
    .side-menu li img {
        width: 30px; /* רוחב התמונה */
        height: 30px; /* גובה התמונה */
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none; /* הסתרת התאים */
    }
}
