/* CSS for Login Form */
#login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-form button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-form button[type="submit"]:hover {
  background-color: #45a049;
}

#login-form button[type="submit"]:focus {
  outline: none;
}
